.app-button {
  width: 100px;
  height: 40px;
  background-color: darkolivegreen;
  border-radius: 5px;
  color: aquamarine;
  font-family: "Roboto Light", "SansSerif", serif;
  font-weight: 600;
  font-size: 16px;
}

.app-button:hover {
  cursor: pointer;
  color: aqua;
  background-color: darkgreen;
}
