.clicks__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.clicks__header {
  font-size: 24px;
  height: 30px;
  line-height: 30px;
}

.clicks__counter {
  margin-left: 20px;
  font-size: 18px;
  height: 14px;
  line-height: 18px;
}

.input-data__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.input-data__header {
  font-size: 24px;
  height: 30px;
  line-height: 30px;
}

.input-data__data {
  margin-left: 20px;
  font-size: 18px;
  height: 14px;
  line-height: 18px;
}

::before, ::after{
  display: block;
  content: "";
  position: absolute;
}

.icon > div {
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.camper{
  width: 19px;
  height: 14px;
  border-radius: 3px;
  background: #73707f;
  margin: 17px 0px 0px 14px;
}
.camper:before{
  width: 5px;
  height: 5px;
  background: #73707f;
  border: 1px solid #323038;
  border-radius: 50%;
  margin: 10px 0px 0px 6px;
}
.camper:after{
  width: 7px;
  height: 4px;
  background: #323038;
  border-radius: 2px;
  margin: 3px 0px 0px 2px;
  box-shadow: 8px 0px 0px #323038, 14px 5px 0px -1px #73707f;
}

.icon-animations--wrapper {
  display: flex;
  flex-direction: column;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Light", "SansSerif", serif;
}

.box {
  width: 200px;
  border: 2px solid black;;
  border-radius: 5px;
  z-index: 1;
  transform: translateY(50px);
  transition: all 1s ease;
}

.box:hover {
  cursor: pointer;
  border: 2px solid darkgreen;
  transition: all 1s ease;
}

.surprise {
  font-size: 36px;
  color: white;
  transform: translateY(-100px);
  transition: all 1s ease;
}

.box:hover + .surprise {
  color: darkgreen;
  text-shadow: 3px 3px 3px gray;
  transform: translateY(-220px);
  transition: all 1s ease;
}
