<app-button>
</app-button>

<div class="clicks__container">
  <h2 class="clicks__header">Clicks:</h2>
  <h3 class="clicks__counter">{{ clicks }}</h3>
</div>

<hr>

<app-input>
</app-input>

<div class="input-data__container">
  <h2 class="input-data__header">Input Data:</h2>
  <h3 class="input-data__data">{{inputData}}</h3>
</div>

<div class="icon-animations--wrapper">
  <div class='icon'>
    <div><div class='camper'></div></div>
  </div>

  <div class="box-container">
    <h1 class="box-title">Поводи по мені!</h1>
    <img src="assets/images/box.jpg" alt="box" class="box">
    <span class="surprise">Оппа, сюрпріз!</span>
  </div>

</div>
